<div class="<%= calculatorBlockClass %>">

    <div class="languages">
        <% for (var i = 0, language; language = oLanguages[i]; i++) { %>
            <div class="language">
                <label class="calc-block">
                    <input type="radio" name="language<%= id %>" <%= i == 0 ? 'checked' : '' %>>
                    <img src="/j-calculator/img/languages/<%= language %>-active.svg" alt="<%= language %>">
                    <img src="/j-calculator/img/languages/<%= language %>-mute.svg" alt="<%= language %>">
                </label>
            </div>
        <% } %>
    </div>

    <div class="calc-block calculator">
        <div class="calculator-left">
            <div class="calculator-left-top">
                <div class="calculator-left-top-chooser">
                    <div class="calculator-left-top-chooser-left">
                        <input checked type="radio" name="mode<%= id %>" value="balancer" id="balancer<%= id %>">
                        <label for="balancer<%= id %>">
                            Balancer
                        </label>
                        <input type="radio" name="mode<%= id %>" value="appsever" id="appsever<%= id %>">
                        <label for="appsever<%= id %>">
                            App Server
                        </label>
                        <input type="radio" name="mode<%= id %>" value="database" id="database<%= id %>">
                        <label for="database<%= id %>">
                            Database
                        </label>
                    </div>
                </div>
                <div class="calculator-left-top-scale">
                    <div class="range-block min-block">
                        <span class="tooltip-button min">i</span>
                        <span class="tooltip-wrapper">
                            <span class="tooltip-inner">
                                <span class="title">Reserved Cloudlets</span>
                                <span class="description">
                                    Reserve the cloudlets to pay a fixed price. The more you reserve, the bigger the discount is!
                                </span>
                                <img src="/j-calculator/img/cld-fixed-hybrid.svg" alt="Reserved Cloudlets">
                            </span>
                        </span>
                        <div class="inner">
                            <span class="decrease min-block-decrease"></span>
                            <div class="digits">

                            </div>
                            <span class="increase min-block-increase"></span>
                        </div>
                        <span class="dot-line reserved">
                            <span>
                                Reserved
                            </span>
                            <span class="dot"></span>
                        </span>
                    </div>
                    <div class="range-block max-block">
                        <span class="tooltip-button max">i</span>
                        <span class="tooltip-wrapper max">
                            <span class="tooltip-inner">
                                <span class="title">Scaling Limit</span>
                            <span class="description">
                                Define the maximum amount of resources for automatic vertical scaling based on load changes
                            </span>
                            <img src="/j-calculator/img/cld-flex-hybrid.svg" alt="Scaling Limit">
                            </span>
                        </span>
                        <div class="inner">
                            <span class="decrease max-block-decrease"></span>
                            <div class="digits">

                            </div>
                            <span class="increase max-block-increase"></span>
                        </div>
                        <span class="dot-line sl">
                            <span>
                                Scaling limit
                            </span>
                            <span class="dot"></span>
                        </span>
                    </div>
                    <div class="range-wrapper">
                        <div class="range"></div>
                    </div>
                </div>
            </div>
            <div class="calculator-left-bottom">
                <div class="calculator-left-bottom-block">
                    <p>Disk Space</p>
                    <div class="inner">
                        <span class="minus"></span>
                        <div class="count">
                            <span class="digit">10</span><span>GiB</span>
                        </div>
                        <span class="plus"></span>
                    </div>
                </div>
                <div class="calculator-left-bottom-block">
                    <p>Public IP</p>
                    <div class="inner">
                        <span class="minus"></span>
                        <div class="count">
                            <span class="digit">4</span>
                        </div>
                        <span class="plus"></span>
                    </div>
                </div>
                <div class="calculator-left-bottom-block">
                    <p>External Traffic</p>
                    <div class="inner">
                        <span class="minus"></span>
                        <div class="count">
                            <span class="digit">11</span><span>GiB</span>
                        </div>
                        <span class="plus"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="calculator-right">
            <div class="calculator-right-top">
                <p class="cost">COST</p>
                <div class="radio-block">
                    <input type="radio" id="hour<%= id %>" name="price<%= id %>" value="hourly" checked>
                    <label for="hour<%= id %>">Per Hour</label>
                    <input type="radio" id="month<%= id %>" name="price<%= id %>" value="monthly">
                    <label for="month<%= id %>">Per Month</label>
                </div>
            </div>
            <div class="period">
                <div class="start-price">
                    <p>Starting Price</p>
                    <span class="price">$0</span>
                </div>
                <div class="max-price">
                    <p>
                        Maximum Price
                        <span>
                        if all resources are fully used up to Scaling Limit
                    </span>
                    </p>
                    <span class="price">$0</span>
                </div>
            </div>
        </div>
    </div>

</div>